.react-calendar {
  margin: 0 auto;
  width: 100%;
  height: 60vh;
  display: grid;
  grid-template-rows: 0.5fr 1fr;
}

.react-calendar__navigation {
  height: 2em;
}

.react-calendar__navigation button {
  text-align: center;
  border: 3px solid hsla(0, 0%, 100%, 0.6);
  color: hsla(0, 0%, 100%, 0.6);
  background-color: transparent !important;
  background-image: none !important;
  font-size: 1.2em;
  font-family: "Jeju Hallasan", cursive;
}

.react-calendar__navigation__label {
  width: 130px;
}

.react-calendar__navigation__prev-button,
.react-calendar__navigation__prev2-button,
.react-calendar__navigation__next2-button,
.react-calendar__navigation__next-button {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif !important;
  font-size: 1em !important;
}

.react-calendar__navigation__prev2-button {
  border-radius: 10px 0 0 10px;
}
.react-calendar__navigation__next2-button {
  border-radius: 0 10px 10px 0;
}

.react-calendar__month-view__weekdays {
  height: 50px;
  font-size: 20px;
  text-align: center;
  align-items: center;
}

.react-calendar__month-view__days {
  display: grid !important;
  grid-template-columns: 0.14fr 0.14fr 0.14fr 0.14fr 0.14fr 0.14fr 0.14fr;
  align-content: stretch;
  align-items: stretch;
  justify-content: center;
  height: 45vh;
}

.react-calendar__year-view__months {
  display: grid !important;
  grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
  align-content: stretch;
  align-items: stretch;
  justify-content: center;
}

.react-calendar__decade-view__years,
.react-calendar__century-view__decades {
  display: grid !important;
  grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
  align-content: stretch;
  align-items: stretch;
  justify-content: center;
}

.react-calendar__month-view__days button,
.react-calendar__year-view__months button,
.react-calendar__decade-view__years button,
.react-calendar__century-view__decades button {
  border-radius: 20px;
  font-family: "Jeju Hallasan", cursive;
  height: 80px;
  font-size: 24px;
  border: 3px solid hsla(0, 0%, 100%, 0.6);
  color: hsla(0, 0%, 100%, 0.6);
  background-color: transparent !important;
  background-image: none !important;
  margin: 0 0 5px 5px;
}

.react-calendar__viewContainer {
  height: 49vh;
}

.react-calendar__month-view__days button {
  text-align: left;
  padding: 0px 0px 37px 5px;
}

.react-calendar__tile--now > abbr {
  background-color: red;
  border-radius: 100%;
}
