.hot {
  width: 200px;
  margin: 10px auto;
  padding: 5px;
  border: 2px outset hsla(0, 0%, 100%, 0.6);
}

.hot_text {
  padding: 5px 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.hot_body {
  height: 87%;
  overflow-y: scroll;
  border: 3px solid hsla(0, 0%, 100%, 0.6);
  border-radius: 20px;
}
.hot_body::-webkit-scrollbar {
  visibility: collapse;
}

.hot_todo {
  font-size: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 3px 10px;
}

.fire {
  color: red;
  width: 30px;
  height: 30px;
  transform-origin: 50% 48%;
  animation: wobble-hor-bottom 0.7s infinite ease-out;
}

.done {
  color: rgb(71, 71, 71);
  animation: extinguishing_fire 1s ease-out 1 forwards normal;
}

@keyframes extinguishing_fire {
  0% {
    color: rgb(255, 0, 0);
  }
  100% {
    color: rgb(71, 71, 71);
  }
}

@keyframes wobble-hor-bottom {
  0%,
  100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }

  15% {
    transform: translateX(-10px) rotate(-6deg);
  }

  30% {
    transform: translateX(15px) rotate(6deg);
  }

  45% {
    transform: translateX(-15px) rotate(-3.6deg);
  }

  60% {
    transform: translateX(9px) rotate(2.4deg);
  }

  75% {
    transform: translateX(-6px) rotate(-1.2deg);
  }
}
