.note-header {
  height: min-content;
  margin-top: 3%;
}

.note-box {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  width: 30%;
    gap: 30px;
    margin: 0 auto;
}

.note-body {
  display: grid;
  grid-template-rows: 60px 0.7fr;
  grid-template-columns: 0.3fr 0.7fr 0.3fr;
  align-items: center;
}

.note-title {
  grid-column: 2;
  grid-row: 1/2;
  text-align: center;
  font-size: xx-large;
  width: max-content;
  padding: 0 10px;
}

.note-author {
  grid-column: 3;
  grid-row: 1/2;
  text-align: end;
}

.note-date {
  grid-column: 1;
  grid-row: 1/2;
  text-align: end;
  padding-right: 10px;
}

.note-text {
  grid-row: 2/3;
  grid-column: 1/4;
  white-space: break-spaces;
  font-size: 1.6rem;
    padding-top: 10px;
    line-height: 20px;
}
