@import "reset.css";
@import url(https://fonts.googleapis.com/css2?family=Hurricane&family=Yeon+Sung&display=swap);

html {
  background-color: #212121;
  height: 100%;
}
body {
  font-family: "Hurricane", "Yeon Sung", cursive;
}

a {
  text-decoration: none;
  color: hsla(0, 0%, 100%, 0.6);
}

@media screen and (min-width: 700px) {
  body {
    display: grid;
    grid-template-rows: 1fr;
    color: hsla(0, 0%, 100%, 0.6);
    justify-content: center;
  }
}
@media screen and (max-width: 699px) {
  body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: hsla(0, 0%, 100%, 0.6);
  }
}
